    <div>
        <table class="grid-table">
            <thead class="grid-header">
                <tr>
                    <th scope="col" class="grid-column" {{bind-attr width=width}}>column 1</th>
                    <th scope="col" class="grid-column">column 2</th>
                </tr>
            </thead>
            <tbody>
                {{#each itemController="treeGridRow"}}
                    <tr {{bind-attr class=isDisplay:grid-row:grid-row-hide}}>
                        <td class="grid-cell">
                            <div class="expansion-cell" {{bind-attr style=left_margin}}>
                                <div {{bind-attr class=hasChildren:show-tree-operation:hide-tree-operation}}>
                                    <div {{bind-attr class=isExpanded:tree-expanded:tree-collapsed}}
                                        {{action "toggleExpansion"}}>
                                    </div>
                                </div>
                                <div class="expansion-cell-content">
                                    {{name}}
                                </div>
                            </div>
                        </td>
                        <td class="grid-cell">{{detail}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
